<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Erwan Giry-Fouquet</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Erwan Giry-Fouquet's portfolio">
    <meta name="author" content="Erwan Giry-Fouquet">
    <link rel="icon" href="/assets/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="assets/images/moi_cercle.png"
             alt="Erwan Giry-Fouquet"/>
        <div class="profile-content pull-left">
            <h1 class="name">Erwan Giry-Fouquet</h1>
            <h2 class="desc">Phd Student</h2>
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/erwan-giry-fouquet/?locale=en_US"><i
                                class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/erwangf"><i class="fa fa-github-alt"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="mailto:erwan.giry.fouquet@gmail.com" target="_blank"><i
                    class="fa fa-paper-plane"></i> Contact Me</a>
        <div class="pull-right">
            <p>End of the PhD in : <span id="final-countdown"></span></p>
        </div>
    </div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>
                            My name is Erwan GIRY-FOUQUET. I am a french student enrolled in a Machine Learning Phd
                            program delivered by the University of Toulouse 3. I am currently working on <b>Large-scale
                                robust classification</b>, in the context of remote sensing.
                        </p>
                        <p>
                            I validated a Msc in Computer Science, specialized in Machine Learning at Université Lyon 2.
                            My training provides a distinctive perspective on cutting edge areas of data analytics
                            including data mining, statistical learning, inference and pattern recognition. In addition,
                            I have a comprehensive knowledge of algorithms for predictive
                            maintenance and anomaly detection. My technical skills are enhanced and improved by a 2
                            years experience as a freelance software developer, using mainly Java and Web technologies.
                        </p>


                    </div>
                </div>
            </section>


            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="/assets/images/cesbio.jpg" alt="" width="100%" height="auto">
                            </div>
                            <div class="col-sm-10">
                                <h3 class="title">PhD Student -
                                    <span class="place"><a
                                                href="http://www.cesbio.ups-tlse.fr">CESBIO</a></span>
                                    <span class="year"> (2019 - 2022)</span></h3>
                                <p> Very large scale learning for remote
                                    sensing image time series classification</p>
                                <ul>
                                    <li>Robust classification, label-noise problematics</li>
                                    <li>Gaussian Mixture models</li>
                                    <li>Semi-supervized classification</li>
                                    <li>Scalable algorithms, High Performance Computing tools</li>
                                    <li>PyTorch, MPI, Cuda, Scikit-Learn</li>
                                </ul>
                            </div>
                        </div>

                        <div class="item row">
                            <div class="col-sm-2  hidden-xs">
                                <img src="/assets/images/LogoERICBaseline2012.png" alt="" width="100%" height="auto">
                            </div>
                            <div class="col-sm-10">
                                <h3 class="title">Research Internship -
                                    <span class="place"><a
                                                href="https://eric.ish-lyon.cnrs.fr/">ERIC Laboratory</a></span>
                                    <span class="year"> (April-September 2018)</span></h3>
                                <p>Co-clustering of functional data</p>
                                <ul>
                                    <li>Wavelet transform</li>
                                    <li>Gaussian Mixture models</li>
                                    <li>High Dimensional Data Clustering</li>
                                    <li>Clustering, co-clustering</li>
                                </ul>
                            </div>
                        </div>

                        <div class="item row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="/assets/images/thales.png" alt="" width="100%" height="auto">
                            </div>
                            <div class="col-sm-10">
                                <h3 class="title">Big Data & Machine Learning engineer -
                                    <span class="place"><a href="https://www.thalesgroup.com/">Thales</a></span>
                                    <span class="year"> (April-September 2017)</span></h3>
                                <p>Built a predictive model in a Big Data context on french rail transport data :</p>
                                <ul>
                                    <li>Gradient Boosted Trees, Random Forest</li>
                                    <li>Imbalanced learning (SMOTE, under-sampling)</li>
                                    <li>Feature engineering (graph, text-mining)</li>
                                </ul>
                                <p>Deployment on cluster : </p>
                                <ul>
                                    <li>Cluster optimisation (9 machines)</li>
                                    <li>Spark, Scala, CentOS, MLlib</li>
                                </ul>
                                <p>J2EE development :</p>
                                <ul>
                                    <li>Angular, Spring, Hibernate</li>
                                    <li>Hadoop, Spark, YARN, HDFS, HBase</li>
                                </ul>
                            </div>
                        </div>

                        <div class="item row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="/assets/images/freelancer.png" alt="" width="100%" height="auto">
                            </div>
                            <div class="col-sm-10">
                                <h3 class="title">Hybrid mobile app developer -
                                    <span class="place"><a href="#">freelance</a></span>
                                    <span class="year">(2016 - 2017)</span></h3>
                                <p>Mobile app development :</p>
                                <ul>
                                    <li>Ionic, Angular</li>
                                    <li>Progressive Web Apps</li>
                                </ul>
                                <p>Dashboard development:</p>
                                <ul>
                                    <li>Angular, Angular Material</li>
                                </ul>
                            </div>
                        </div>

                        <div class="item row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="/assets/images/pleazup.jpg" alt="" width="100%" height="auto">
                            </div>
                            <div class="col-sm-10">
                                <h3 class="title">Data analyst -
                                    <span class="place"><a href="https://pleazup.com">Pleazup</a></span>
                                    <span class="year">(2016)</span></h3>
                                <p>Statistical analytics</p>
                                <ul>
                                    <li>Statistical tests with R</li>
                                    <li>Data visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Projects</h2>
                    <div class="content">
                        <div class="item">
                            <div class="row">
                                <% projects.forEach(function(page){ %>
                                    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0 col-xs-12">
                                        <div class="thumbnail">
                                            <a href="/pages/<%= page.shortTitle %>" target="_blank">
                                                <img src="<%= page.imagePath %>">
                                            </a>
                                            <div class="caption">
                                                <h3><%= page.title %></h3>
                                                <p><%= page.description %></p>
                                                <p>
                                                    <a href="/pages/<%= page.shortTitle %>" target="_blank"
                                                       class="btn btn-primary"
                                                       role="button">Discover</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>

                        </div>


                    </div>
                </div>
            </section>


        </div>


        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Toulouse, France
                            </li>
                            <li><i class="fa fa-google"></i><span class="sr-only">Email:</span><a href="#">erwan.giry.fouquet@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading">Latest blog posts</h2>
                    <div class="content">
                        <div class="row">
                            <% lastPages.forEach(function(page){ %>
                                <li>
                                    <a href="/pages/<%= page.shortTitle %>" target="_blank"><%= page.title %></a>
                                </li>
                            <% }) %>
                        </div>

                    </div>
                </div>
            </aside>

            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i style="color:gold" class="fa fa-graduation-cap"></i> Phd Machine
                                Learning
                            </h3>
                            <h4 class="university"> University Toulouse 3, France <span class="year"> (2019-2022)</span>
                            </h4>
                        </div>
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Data-Mining (Computer Science)
                            </h3>
                            <h4 class="university"> University Lyon 2, France <span class="year"> (2016-2018)</span>
                            </h4>
                        </div>
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science</h3>
                            <h4 class="university"> University of La Réunion, France <span
                                        class="year"> (2013-2016)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                            --</p>

                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title">Java &amp; Scala
                                    <span class="level-label"
                                          data-toggle="tooltip"
                                          data-placement="left"
                                          data-animation="true"
                                          title="Software development, Maven, JUnit, Sonar, JIRA.">Good</span>
                                </h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="70%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">JavaScript &amp; co
                                    <span class="level-label"
                                          data-toggle="tooltip"
                                          data-placement="left"
                                          data-animation="true"
                                          title="Angular2, NodeJS, React">Good</span>
                                </h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Web(HTML5, CSS3, SASS, etc)<span
                                            class="level-label">Basic</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="60%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Python, R<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="85%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">GPU Computing<span
                                            class="level-label">Very interested ! :)</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="25%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                        </div>
                    </div>
                </div>
            </aside>

            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>English :</strong></span>
                                <span class="level">Professional Proficiency <br class="visible-xs"/></span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>French :</strong></span>
                                <span class="level">Native speaker <br class="visible-sm visible-xs"/></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->

<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="/assets/js/main.js"></script>

<script>
    var countDownDate = new Date("Jan 1, 2022 00:00:00").getTime();

    // Update the count down every 1 second
    updateTimer = function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="final-countdown"
        document.getElementById("final-countdown").innerHTML = days + " days " + hours + "h "
            + minutes + "m " + seconds + "s ";

    };
    updateTimer()
    setInterval(updateTimer, 1000);
</script>
</body>
</html>

